*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Croissant One', serif;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

html{
    height: 100%;
}
body{
    height: 100%;
    width:100% ;
    background: linear-gradient(to bottom, #aaf6ff ,   pink);
    text-align: center;
    background-size:cover;
    background-repeat:no-repeat;
 }

 .container {
    padding-top: 10%;
    
}
button{
    padding: 15px 25px;
    border: none;
    background-color:#aaf6ff ;
    box-shadow: 0 0 5px black;
    margin-right: 10px;
    border-radius: 12px;
    font-weight: bolder;
   font-size: 20px;
   margin-bottom: 20px;
   
 }
 
 button:hover{
     background-color: #ffd4f6;
 }

#count-el{
    font-size: 100px;
   
}

#saved{
    font-size: 30px;
    border: 5px solid #aaf6ff;
    width: 95%;
    height: 200px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 0 5px black;
    font-weight: bolder;
    overflow: scroll;
    
}

i{
    font-weight: bolder;
    font-size: 25px;
}
i:hover{
    color: black;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.About{
    margin-bottom: 20px;
    font-size:15px; 
}
